.git
.gitignore
.github

node_modules
npm-debug.log
yarn-error.log

.env
.env*
.session_secret

sessions

.vscode
.idea
.DS_Store
Thumbs.db
*.swp

Dockerfile
docker-compose*
.dockerignore

README.md
LICENSE
*.md
